@import "tailwindcss";

@theme {
  --color-primary: #116776;
  --color-orange: #F28E3A;
  --color-navy: #0F172A;
  --color-surface: #FBF8F2;
  --color-text-dark: #333333;

  --font-sans: var(--font-geist-sans), sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  button, a, [role="button"] {
    cursor: pointer;
  }
}